/* CSS Document */

/* nav_signup.css */

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:#000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #112;
}
body {
    background-color:#ffffff;
}

#header {
    background-color:#66FFFF;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-image:url(../image/des.jpg);
    height:1700px;
    width:150px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}